.hero {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 35vh;
	background-image: url(../../img/woman.PNG);
	background-position: -100px;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__container {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}

.hero__grid {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 3;
	width: 100%;
	align-items: flex-end;
	color: #fff;
	.item-1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		font-size: 1.6rem;
		display: flex;
		justify-content: end;
	}
	.item-2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		font-size: 2.2rem;
		display: flex;
		justify-content: end;
	}
	.item-3 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		font-size: 1.2rem;
		display: flex;
		justify-content: end;
	}
	.item-4 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		font-size: 0.8rem;
		display: flex;
		justify-content: end;
	}
}

@media screen and (min-width: 300px) {
	.hero__grid {
		.item-1 {
			margin-right: -2rem;
		}
	}
}

@media screen and (min-width: 400px) {
	.hero__grid {
		.item-1 {
			margin-right: -4rem;
		}
	}
}

@media screen and (min-width: 500px) {
	.hero__grid {
		.item-1 {
			margin-right: -6rem;
		}
	}
}

@media screen and (min-width: 600px) {
	.hero__grid {
		.item-1 {
			margin-right: -8rem;
		}
	}
}

@media screen and (min-width: 700px) {
	.hero__grid {
		.item-1 {
			margin-right: -9rem;
		}
	}
}

@media screen and (min-width: 760px) {
	.hero__container {
		width: 60%;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		background-position: center;
	}
	.hero__container {
		width: 60%;
	}
	.hero__grid {
		display: grid;
		grid-template-columns: 2;
		grid-template-rows: 3;
		width: 100%;
		align-items: stretch;
		justify-content: end;
		align-content: center;
		color: #fff;
		gap: 1rem;
		.item-1 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
			font-size: 3rem;
			display: flex;
			justify-content: end;
			margin-right: 0;
		}
		.item-2 {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
			font-size: 5rem;
			margin-top: -0.5rem;
		}
		.item-3 {
			grid-column-start: 3;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 2;
			font-size: 3rem;
		}
		.item-4 {
			grid-column-start: 3;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 3;
			font-size: 1.5rem;
			margin-top: -2.5rem;
		}
	}
}

.hero__started {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	button {
		font-size: 1rem;
		width: 100%;
		height: 1.7rem;
		padding: 0.3rem;
	}
	p {
		color: #fff;
		font-size: 0.6rem;
		text-align: right;
	}
}

@media screen and (min-width: 400px) {
	.hero__started {
		button {
			font-size: 1rem;
			width: 10rem;
			height: 1.7rem;
			padding: 0.3rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.hero__started {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		button {
			font-size: 2rem;
			width: 20rem;
			height: 4rem;
		}
		p {
			width: 30%;
			color: #fff;
			font-size: 0.8rem;
		}
	}
}
